---
import Head from "@/components/head.astro";
import { App } from "@/games/draughts/components/app";
import { DefinePieces } from "@/games/draughts/components/define";
---

<Head title="Draughts" />
<DefinePieces />

<div class="text-slate-800">
    <App client:load />
</div>
