body {
  margin: 0;
  padding: 0;
}

.board {
  margin: 5vmin;
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 0;
  column-gap: 0;
}

.cell {
  height: 10vmin;
  width: 10vmin;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-black {
  background-color: darkslategray;
  border-color: darkslategray;
}
.cell-white {
  background-color: lightgray;
  border-color: lightgray;
}

.piece {
  height: 100%;
  width: 100%;

  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.piece-black {
  height: 100%;
  width: 100%;
  stroke: white;
  fill: black;
}

.piece-white {
  height: 100%;
  width: 100%;
  stroke: black;
  fill: white;
}

.selected {
  border-color: black;
}

.movable {
  border-color: darkorange;
}
