.define {
  display: none;
}

.stone-white,
.stone-black,
.stone-move {
  stroke: var(--black);
  stroke-width: 2;
}

.stone-white {
  fill: var(--light);
}

.stone-black {
  fill: var(--dark);
}

.stone-move {
  fill: none;
}
