---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import Setting from "@/components/setting-form/form.astro";
import Number from "@/components/setting-form/number.astro";
import SubHeader from "@/components/sub-header.astro";
import { h1Style, h2Style } from "@/styles/common.css";
---

<Head title="Mine Sweeper" />

<Header>Mine Sweeper</Header>
<Setting action="game/">
    <dt>Height</dt>
    <dd>
        <Number name="height" value="10" />
    </dd>

    <dt>Width</dt>
    <dd>
        <Number name="width" value="10" />
    </dd>

    <dt>Count of Mines</dt>
    <dd>
        <Number name="mines" value="10" />
    </dd>
</Setting>

<p>
    <SubHeader>How to play Mine Sweeper</SubHeader>

    <!-- TODO -->
</p>
