---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import Setting from "@/components/setting-form/form.astro";
import InputNumber from "@/components/setting-form/input-number.astro";
import SubHeader from "@/components/sub-header.astro";
---

<Head title="Mine Sweeper" />

<Header>Mine Sweeper</Header>
<Setting action="game/">
    <dt>Height</dt>
    <dd>
        <InputNumber name="height" value="10" />
    </dd>

    <dt>Width</dt>
    <dd>
        <InputNumber name="width" value="10" />
    </dd>

    <dt>Count of Mines</dt>
    <dd>
        <InputNumber name="mines" value="10" />
    </dd>
</Setting>

<p>
    <SubHeader>How to play Mine Sweeper</SubHeader>

    <!-- TODO -->
</p>
