---
import Head from "@/components/head.astro";
import { App } from "@/games/mine-sweeper/components/app";
---

<Head title="Mine Sweeper" />

<div class="text-slate-800">
    <App client:only="solid-js" />
</div>
