.field {
  fill: #15803d;
}

.black {
  fill: var(--black);
}

.red {
  fill: var(--red);
}

.rev {
  transform: translate(100%, 100%) rotate(180deg);
}

.text {
  font-weight: 25px;
}

.text-rank {
  font-weight: 16px;
}

.card {
  fill: #e2e8f0;
  stroke: var(--black);
}

.selected {
  fill: none;
  stroke: var(--black);
}
