.square,
.square-target,
.square-from {
  fill: none;
  cursor: pointer;
}

.square-target {
  fill: #f97316;
}

.square-from {
  fill: #64748b;
}

.define {
  display: none;
}

.define-black {
  fill: var(--dark);
  stroke: var(--black);
}

.define-white {
  fill: var(--light);
  stroke: var(--black);
}
