---
import Head from "@/components/head.astro";
import { App } from "@/games/reversi/components/app";
---

<Head title="Reversi" />

<div class="text-slate-800">
    <App client:only="solid-js" />
</div>
