.piece {
  fill: #fde047;
  stroke: var(--black);
}

.text {
  font-size: 20px;
  text-anchor: middle;
}

.black {
  fill: var(--black);
}

.red {
  fill: var(--red);
}

.rev {
  transform: translate(100%, 100%) rotate(180deg);
}

.board {
  fill: #fbbf24;
}

.hand {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  text-align: center;
  border: 1px solid var(--black);
}

.hand-header {
  background-color: #fbbf24;
}
