body {
  margin: 0;
  padding: 0;
}

.grid {
  margin: auto;
  padding: 1vmin;
  width: min-content;
  height: min-content;

  display: grid;

  gap: 0;
}

.field {
  height: 5vmin;
  width: 5vmin;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.field-close {
  fill: gray;
}

.field-open {
  fill: white;
}

.graph {
  fill: none;
  stroke: black;
  stroke-width: 3;
}

.n1 {
  stroke: blue;
}

.n2 {
  stroke: green;
}

.n3 {
  stroke: red;
}

.n4 {
  stroke: purple;
}

.n5 {
  stroke: maroon;
}

.n6 {
  stroke: darkturquoise;
}

.n7 {
  stroke: black;
}

.n8 {
  stroke: darkgray;
}

.mine {
  fill: black;
}

.flag {
  fill: red;
}