---
import Head from "@/components/head.astro";
import { StyledSvg } from "@/components/styled-svg";
import nought from "@/images/icon/nought.svg";
import cross from "@/images/icon/cross.svg";
---

<Head title="Noughts and Crosses" />

<h1>Noughts and Crosses</h1>
<form action="game/">
    <h2>Noughts and Crosses Settings</h2>

    <p>
        <StyledSvg src={nought.src} alt="nought" /> player

        <label>
            <input type="radio" name="o" value="non-player" />
            Non-Player
        </label>
        <label>
            <input type="radio" name="o" value="player" checked />
            Player
        </label>
    </p>
    <p>
        <StyledSvg src={cross.src} alt="cross" /> player

        <label>
            <input type="radio" name="x" value="non-player" checked />
            Non-Player
        </label>
        <label>
            <input type="radio" name="x" value="player" />
            Player
        </label>
    </p>

    <button>Start</button>
</form>

<p>
    <h2>How to play Noughts and Crosses</h2>

    <!-- TODO -->
</p>
