---
import Head from "@/components/head.astro";
import { App } from "@/games/nought-and-cross/components/app";

---

<Head title="Noughts and Crosses" />

<div class="text-slate-800">
    <App client:load />
</div>