---
import Head from "@/components/head.astro";
import { PageBody } from "@/components/page-body/page-body";
import { PageHeader } from "@/components/page-header/page-header";
import {
  TEXT_GAME_CHESS,
  TEXT_GAME_ENGLISH_DRAUGHTS,
  TEXT_GAME_KLONDIKE,
  TEXT_GAME_KNIGHT_TOUR,
  TEXT_GAME_MINE_SWEEPER,
  TEXT_GAME_NOUGHT_AND_CROSS,
  TEXT_GAME_REVERSI,
  TEXT_GAME_SHOGI,
} from "@/scripts/constants";

const pages = [
  { title: TEXT_GAME_NOUGHT_AND_CROSS, name: "nought-and-cross" },
  { title: TEXT_GAME_CHESS, name: "chess" },
  { title: TEXT_GAME_MINE_SWEEPER, name: "mine-sweeper" },
  { title: TEXT_GAME_KNIGHT_TOUR, name: "knight-tour" },
  { title: TEXT_GAME_REVERSI, name: "reversi" },
  { title: TEXT_GAME_SHOGI, name: "shogi" },
  { title: TEXT_GAME_KLONDIKE, name: "klondike" },
  { title: TEXT_GAME_ENGLISH_DRAUGHTS, name: "english-draughts" },
];
---

<Head />

<PageHeader />
<PageBody>
  <ul class="list-disc list-inside ml-2">
    {
      pages.map(({ title, name }) => (
        <li>
          <a href={`${name}/`} class="underline hover:text-slate-500">
            {title}
          </a>
        </li>
      ))
    }
  </ul>
</PageBody>
