---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import { PageHeader } from "@/components/page-header/page-header";
import { PageBody } from "@/components/page-body/page-body";

const pages = [
  { title: "Noughts and Crosses", name: "nought-and-cross" },
  { title: "Chess", name: "chess" },
  { title: "Mine Sweeper", name: "mine-sweeper" },
  { title: "Knight's Tour", name: "knight-tour" },
  { title: "Reversi", name: "reversi" },
  { title: "Shogi", name: "shogi" },
  { title: "Klondike", name: "klondike" },
];
---

<Head title="Games" />

<PageHeader />
<PageBody>
    <ul class="list-disc list-inside ml-2">
        {
            pages.map(({ title, name }) => (
                <li>
                    <a href={`${name}/`} class="underline hover:text-slate-500">
                        {title}
                    </a>
                </li>
            ))
        }
    </ul>
</PageBody>