---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";

const pages = [
  { title: "Noughts and Crosses", name: "nought-and-cross" },
  { title: "Chess", name: "chess" },
  { title: "Mine Sweeper", name: "mine-sweeper" },
  { title: "Knight's Tour", name: "knight-tour" },
  { title: "Reversi", name: "reversi" },
  { title: "Shogi", name: "shogi" },
];
---

<Head title="Games" />

<Header>Games</Header>
<ul class="list-disc list-inside ml-2">
    {
        pages.map(({ title, name }) => (
            <li>
                <a href={`${name}/`} class="underline hover:text-slate-500">
                    {title}
                </a>
            </li>
        ))
    }
</ul>
