---

---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="./favicon.svg"
        />
        <title>games</title>
    </head>

    <body>
        <ul>
            <li><a href="./ox3/">OX3</a></li>
            <li><a href="./chess/">Chess</a></li>
            <li><a href="./mine-sweeper/">Mine Sweeper</a></li>
            <li><a href="./knight-tour/">Knight's Tour</a></li>
        </ul>
    </body>
</html>
