---
import Head from "@/components/head.astro";

const pages = [
    { title: "Noughts and Crosses", name: "nought-and-cross" },
    { title: "Chess", name: "chess" },
    { title: "Mine Sweeper", name: "mine-sweeper" },
    { title: "Knight's Tour", name: "knight-tour" },
    { title: "Reversi", name: "reversi" },
];
---

<Head title="Games" />

<h1>Games</h1>
<ul>
    {
        pages.map(({ title, name }) => (
            <li>
                <a href={`${name}/`}>{title}</a>
            </li>
        ))
    }
</ul>
