---
import "destyle.css";
import { App } from "../components/knight-tour/app";
import {
    bodyStyle,
    titleStyle,
    ruleStyle,
    h2Style,
} from "../styles/knight-tour.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" type="image/x-icon" href="../favicon.svg" />
        <title>Knight's Tour</title>
    </head>

    <body class={bodyStyle}>
        <h1 class={titleStyle}>Knight's Tour</h1>
        <App client:load />

        <div class={ruleStyle}>
            <h2 class={h2Style}>Rule</h2>
            <p>
                Knight's Tour is a puzzle using an 8 x 8 chess board and one
                knight piece. The player moves the knight and wins if he crosses
                every square on the board exactly once.
            </p>
        </div>
    </body>
</html>
