---
import "@/styles/ox3.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.svg" />
    <title>OX3</title>
  </head>

  <body>
    <script>
      import { App } from "../components/ox3/app";
      import { render } from "solid-js/web";
      
      render(App, document.body);
    </script>
  </body>
</html>
