---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import Setting from "@/components/setting-form/form.astro";
import Radio from "@/components/setting-form/radio.astro";
import SubHeader from "@/components/sub-header.astro";
---

<Head title="Knight's Tour" />

<Header>Knight's Tour</Header>
<Setting action="game/">
    <dt>Hint mode</dt>
    <dd>
        <Radio name="board" value="hide" checked>O and X only</Radio>
    </dd>
    <dt></dt>
    <dd>
        <Radio name="board" value="hint">Number is order of visit</Radio>
    </dd>
    <dt></dt>
    <dd>
        <Radio name="board" value="history">Number is onward moves</Radio>
    </dd>
</Setting>

<p>
    <SubHeader>How to play Knight's Tour</SubHeader>

    <p>
        Knight's Tour is a puzzle using an 8 x 8 chess board and one knight
        piece. The player moves the knight and wins if he crosses every square
        on the board exactly once.
    </p>
</p>
