---
import Head from "@/components/head.astro";
import Setting from "@/components/setting-form/form.astro";
import Radio from "@/components/setting-form/radio.astro";
import { h1Style, h2Style } from "@/styles/common.css";
---

<Head title="Knight's Tour" />

<h1 class={h1Style}>Knight's Tour</h1>
<Setting action="game/">
    <dt>Hint mode</dt>
    <dd>
        <Radio name="board" value="hide" checked>O and X only</Radio>
    </dd>
    <dt></dt>
    <dd>
        <Radio name="board" value="hint">Number is order of visit</Radio>
    </dd>
    <dt></dt>
    <dd>
        <Radio name="board" value="history">Number is onward moves</Radio>
    </dd>
</Setting>

<p>
    <h2 class={h2Style}>How to play Knight's Tour</h2>

    <p>
        Knight's Tour is a puzzle using an 8 x 8 chess board and one knight
        piece. The player moves the knight and wins if he crosses every square
        on the board exactly once.
    </p>
</p>
