---
import Head from "@/components/head.astro";
import { App } from "@/games/knight-tour/components/app";
---

<Head title="Knight's Tour" />
<link
    rel="stylesheet"
    href=`https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap&text=01234567`
/>

<div class="text-slate-800">
    <App client:load />
</div>
