.stone {
  stroke: var(--black);
  stroke-width: 0.5;
}

.white {
  fill: var(--light);
}

.black {
  fill: var(--dark);
}

.next {
  border-color: var(--black);
  border-width: 2px;
  border-radius: 0.25rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  display: inline;
  aspect-ratio: 1 / 1;
}

.icon-stone {
  stroke: var(--black);
}
