---
import Head from "@/components/head.astro";
import { App } from "@/games/shogi/components/app";
---

<Head title="Shogi" />
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap"
/>

<div class="text-slate-800">
    <App client:only="solid-js" />
</div>
