---
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import Setting from "@/components/setting-form/form.astro";
import InputRadio from "@/components/setting-form/input-radio.astro";
import SubHeader from "@/components/sub-header.astro";
---

<Head title="Shogi" />

<Header>Shogi</Header>
<Setting action="game/">
    <dt>First player</dt>
    <dd>
        <InputRadio name="first" value="non-player">Non-Player</InputRadio>
        <InputRadio name="first" value="player" checked>Player</InputRadio>
    </dd>

    <dt>Second player</dt>
    <dd>
        <InputRadio name="second" value="non-player" checked>Non-Player</InputRadio>
        <InputRadio name="second" value="player">Player</InputRadio>
    </dd>
</Setting>

<p>
    <SubHeader>Shogi</SubHeader>
</p>
