---
import SubHeader from "@/components/sub-header.astro";

interface Props {
  readonly action: string;
}

const { action } = Astro.props;
---

<form
  action={action}
  class="flex flex-col w-max border-double border-slate-900 border-4 m-2 p-2"
>
  <SubHeader>Settings</SubHeader>

  <dl class="grid grid-cols-2">
    <slot />
  </dl>

  <button class="underline decoration-black decoration-double">Start</button>
</form>
