---
import { inputLabelStyle } from "./style.css";

interface Props {
  readonly name: string;
  readonly value: string;

  readonly checked?: boolean;
}

const { name, value, checked } = Astro.props;
---

<label class="px-2 has-[:checked]:bg-lime-200  decoration-slate-900">
  <input type="radio" name={name} value={value} checked={checked} class="hidden"/><slot />
</label>
