---
import { inputLabelStyle } from "./style.css";

interface Props {
  readonly name: string;
  readonly value: string;

  readonly checked?: boolean;
}

const { name, value, checked } = Astro.props;
---

<label class={inputLabelStyle}>
    <input type="radio" name={name} value={value} checked={checked} /><slot />
</label>
